.failed-payment-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f9fc; 
  }
  
  .failed-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .failed-container h1 {
    color: #dc3545; 
  }
  
  .failed-container p {
    color: #333; 
  }
  