.success-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f9fc; 
  }
  
  .success-container {
    text-align: center;
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .success-container h1 {
    color: #28a745; 
  }
    
  .success-container h2 {
    color: #4f4f4f; 
  }
  
  .success-container p {
    color: #333; 
  }
  